body {

    text-align: center;
    background-color: black;

}


.container {

    display: flex;
    flex-direction: column;

}

.item {

    margin: 40px;
    background-color:  rgb(4, 67, 88);
    color: gray;
    border:  solid 3px yellowgreen;
    border-radius: 8px 8px 8px 8px;

    
    
}

.card {

    background-color: rgba(66, 53, 53, 0.733);
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 0 0 10px; color: rgba(0, 0, 0, 0.1);
    padding: 20px;
    width: auto%;
    transition: all 0.3s ease-in-out;
    margin: 80px;
}

.card:hover {

    box-shadow: 0 0 20px rgba(0, 0, 0,0.2);
    transform: translateY(-5px);
}


.enrollment,#sign-up-button {

    border: solid 3px gray;
    border-radius: 10px 0px 10px 0px;
    font-size: 20px;
    font-weight: 30px;
    color: rgb(0, 255, 179);
    width: auto;
    background-color: black;
    
}

img {

    margin: auto;
    padding: 5px;
    border-radius: 15px 10px 15px 10px;
    background-color: grey;
    width: 50%;
    height: auto;
    border: solid 2px gray;
}

p {

    color: rgb(247, 215, 215);
    font-family: Georgia, 'Times New Roman', Times, serif;
}

#motto {

    margin: 10px;
    color: springgreen;
    font-style: oblique;
}


h1, h2 {

    color: rgb(152, 217, 219);
    margin: 3px;
}

a {


color: springgreen;
    font-weight: 40px;
    text-decoration: none;
    font-size: 15px;
}



.price {

    font-size: 25px;
    font-weight: 40px;
    color: springgreen;
}
