<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Home Page</title>
    <link href= "../Stylesheet/style.css" rel='stylesheet'>
    <link rel = 'icon' type="image/x-icon" href="Images/fullstack logo.png">
</head>
<body>

    
        
    
    <header class='item head' >

        
    <nav class="navBar">
        <div class="navbar-nav">
                <a class="navBar-item active" aria-current="page" href="/Home" id="'home-nav">Home</a>
                <a href="./admin-settings.ejs" class="navBar-item">Settings</a>
                
            </div>
    </nav><!--end nav-->
    
</header>




    <main class="container">

        <h1>Welcome, Admin!</h1>

        <div class="item">

           <strong><a href="/">Students' data</a> </strong><br>
            <strong><a href="/">Send Email</a> </strong><br>
            <strong><a href="/">Finance</a></strong>

</div>






</main>


    <footer class="footer item">

<a href ='/Contac-Us'>Contact Us</a> <br>
<a href = '/Our-Mission'>Our Mission</a> <br>



    </footer>

    <p id="copyright"> </p>

    <script>


 const copyRightHolder = document.getElementById("copyright");
  const today = new Date();
  const thisYear = today.getFullYear();
  copyRightHolder.innerText = `Code Skill Academy \u00A9 ${thisYear}. All Rights Reserved.`;
  copyRightHolder.style.color = 'yellowGreen';

    </script>

</body>
</html>