<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Admin Create Account Response</title>
  <link href="../Stylesheet/style.css" rel="stylesheet">
  <link rel='shortcut icon' type="image/png" href="../Images/fullstack logo.png">
</head>
<body>
  <header class='item head'>
    <nav class="navBar">
      <div class="navbar-nav">
        <a class="navBar-item active" aria-current="page" href="/" id="'home-nav">Home</a>
        
      </div>
    </nav><!--end nav-->
  </header>
  <main class="container">

    <div class="item">
      
<% if (locals.message) { %>
        <p style="color: springgreen"><%= locals.message %></p> <br> <button class="sign-up-response"> <a href="/">Log In</a> </button>
      <% } else { %>
        <p style="color: red"><%= locals.error %></p>
      <% }  %>

     
    </div>

  </main>
  <footer class="footer item">
    <a href='/api/send-email'>Contact us</a>
    <br>
    <a href='/api/Our-Mission'>Our Mission</a>
    <br>
    
  </footer>
  <p id="copyright"></p>
  <script>
    const copyRightHolder = document.getElementById("copyright");
    const today = new Date();
    const thisYear = today.getFullYear();
    copyRightHolder.innerText = `Code Skill Africa \u00A9 ${thisYear}. All Rights Reserved.`;
    copyRightHolder.style.color = 'yellowGreen';
  </script>
</body>
</html>