<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Create Account</title>
    <link href="../Stylesheet/style.css" rel="stylesheet">
    <link rel = 'shortcut icon' type="image/png" href="Images/fullstack logo.png">
</head>
<body>


    <header class='item head' >
        
    <nav class="navBar">
        <div class="navbar-nav">
                <a class="navBar-item active" aria-current="page" href="/" id="'home-nav">Home</a>
                
            </div>
    </nav><!--end nav-->
    
</header>

    
    <main class="container">

    <div class="item">
        

        <h1>Admin Account Creation:</h1>


        <% if (locals.message) { %>
        <p style="color: springgreen"><%= locals.message %></p> <br> <button class="sign-up-response"> <a href="/">Log In</a> </button>
      <% } else { %>
        <p style="color: red"><%= locals.error %></p>
      <% }  %>
      
        <form action="/api/admin-create-account" method = 'POST'>

            <fieldset>

                <legend>
                    Enter your details to create your admin account:
                </legend>

    

                
                <label for="first_name">Enter your first name:</label> <br>

                <input type="text" name ='firstName' id="first_name"  autocomplete="off" class="log-in-input" required> <br>

                <label for="last_name">Enter your last name:</label> <br> 

                <input type="text" name ='lastName'  id='first_name' autocomplete="off" class="log-in-input" required> <br>

                <label for="email">Enter your email address: </label> <br>

                <input type = 'email' name="email"  id="email" autocomplete="off" class="log-in-input" required> <br>

                <label for ='password'>Enter your password: </label> <br>

                <input type="password" name="password" id="password-input" autocomplete="off" class="log-in-input" required> <br>

                <input type="checkbox" id ='show-password-checkbox' onclick="togglePasswordVisibility()"> 

                <label for="show-password-checkbox">Show password</label> <br> 

               <input type ="submit" value="Create Account" id = 'sign-up-button'>
               <br>

               

                
            </fieldset>

        </form>


    </div>

    <!--

    <p class="link-paragraph">
        Already have an account?  <a href="Log-In">Log in</a>
    </p>

    -->
    

                
                

    </main>
    

    



    <footer class="footer item">

<a href = '/Our-Mission'>Our Mission</a> <br>
<a href ='/Contac-Us'>Contact Us</a> <br>




    </footer>

    <p id="copyright"> </p>


    <script>


 const copyRightHolder = document.getElementById("copyright");
  const today = new Date();
  const thisYear = today.getFullYear();
  copyRightHolder.innerText = `Code Skill Africa \u00A9 ${thisYear}. All Rights Reserved.`;
  copyRightHolder.style.color = 'yellowGreen';

function togglePasswordVisibility() {

    const passwordInput = document.getElementById('password-input');
    const showPasswordCheckbox = document.getElementById('show-password-checkbox');

    if (showPasswordCheckbox.checked) {

passwordInput.type = 'text';

    }else{

        passwordInput.type= 'password';
    }


}




  function clearLoginForm() {
    const loginForm = document.querySelector('form');
    if (loginForm) {
      loginForm.reset();
      
      // Also clear any input fields manually (in case reset doesn't work)
      const inputs = loginForm.querySelectorAll('.log-in-input');
      inputs.forEach(input => {
        input.value = '';
      });
      
      // Clear any error messages if they exist
      const errorMessages = document.querySelectorAll('.error-message');
      errorMessages.forEach(error => {
        error.textContent = '';
      });
    }
  }

  // Clear form when page loads
  window.addEventListener('load', clearLoginForm);

  // Clear form on page show (handles browser back/forward)
  window.addEventListener('pageshow', (event) => {
    // Force clear even from cache
    clearLoginForm();
  });

  // Clear form when user leaves and comes back
  window.addEventListener('focus', clearLoginForm);

  // Prevent autocomplete from persisting data
  document.addEventListener('DOMContentLoaded', () => {
    const loginForm = document.querySelector('form');
    if (loginForm) {
      loginForm.setAttribute('autocomplete', 'off');
      
      const inputs = loginForm.querySelectorAll('input');
      inputs.forEach(input => {
        input.setAttribute('autocomplete', 'off');
      });
    }
  });



</script>
</body>
</html>