<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>All Courses</title>
  <link href="../Stylesheet/style.css" rel="stylesheet">
  <link rel='shortcut icon' type="image/png" href="../Images/fullstack logo.png">
</head>
<body>
  <header class='item head'>
    <nav class="navBar">
      <div class="navbar-nav">
        <a class="navBar-item active" aria-current="page" href="/" id="'home-nav">Home</a>
      </div>
    </nav><!--end nav-->
  </header>
  <main class="container">
    <div class="item">
      <h1>All Courses</h1>
      <ul>
        <li><a href="/Front-End-Enroll">Front-End Web Development</a></li>
        <li><a href="/Back-End-Enroll">Back-End Web Development</a></li>
        <li><a href="/FullStack-Enroll">Full Stack Web Development</a></li>
        <li><a href="/Cyber-Security-Enroll">Cyber Security</a></li>
      </ul>
      <p><a href="/dashboard">Back to Dashboard</a></p>
    </div>
  </main>
  <footer class="footer item">
    <a href='/'>About Us</a>
    <br>
    <a href='/'>Our Mission</a>
    <br>
    <a href='/'>Partners</a>
    <br>
    <a href='/'>Board of Directors</a>
  </footer>
  <p id="copyright"></p>
  <script>
    const copyRightHolder = document.getElementById("copyright");
    const today = new Date();
    const thisYear = today.getFullYear();
    copyRightHolder.innerText = `Code Skill Academy \u00A9 ${thisYear} Developed by Emmanuel Chigemezu`;
    copyRightHolder.style.color = 'yellowGreen';
  </script>
</body>
</html>