<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Change Password</title>
  <link href="../Stylesheet/style.css" rel="stylesheet">
  <link rel='shortcut icon' type="image/png" href="../Images/fullstack logo.png">
</head>
<body>
  <header class='item head'>
    <nav class="navBar">
      <div class="navbar-nav">
        <a class="navBar-item active" aria-current="page" href="/" id="'home-nav">Home</a>
        <a class='navBar-item' href="/dashboard">Back to Dashboard</a>
      </div>
    </nav><!--end nav-->
  </header>
  <main class="container">

    <div class="item">



      <h1>Change Password</h1>



      <% if (locals.error) { %>
        

      <p style="color: red"><%= locals.error %>  <br>
</p>
    <% } %>

     <% if (locals.message) { %>


      <p style="color: springgreen"><%= locals.message %> <br>
    </p>
    <% } %>



      <form action="/change-password" method="POST">
        <label for="old-password">Old Password:</label>
        <input type="password" id="old-password" name="oldPassword" required>
        <input type="checkbox" id ='show-old-password-checkbox' onclick="toggleOldPasswordVisibility()">
        <label for="show-old-password-checkbox">Show old password</label> <br> <br>

        <label for="new-password">New Password:</label>
        <input type="password" id="new-password" name="newPassword" required>
        <input type="checkbox" id ='show-password-checkbox' onclick="togglePasswordVisibility()">
        <label for="show-password-checkbox">Show new password</label> <br> 
        <input type="submit" value="Change Password" class='enrollment'>
      </form>
      
    </div>
  </main>
  <footer class="footer item">
    
    <a href = '/Our-Mission'>Our Mission</a> <br>
<a href ='/Contact-Us'>Contact Us </a> <br>

  </footer>
  <p id="copyright"></p>
  <script>
    const copyRightHolder = document.getElementById("copyright");
    const today = new Date();
    const thisYear = today.getFullYear();
    copyRightHolder.innerText = `Code Skill Africa \u00A9 ${thisYear}. All Rights Reserved.`;
    copyRightHolder.style.color = 'yellowGreen';

    function togglePasswordVisibility() {

    const passwordInput = document.getElementById('new-password');
    const showPasswordCheckbox = document.getElementById('show-password-checkbox');

    if (showPasswordCheckbox.checked) {

passwordInput.type = 'text';

    }else{

        passwordInput.type= 'password';
    }


}



function toggleOldPasswordVisibility() {

    const passwordInput = document.getElementById('old-password');
    const showPasswordCheckbox = document.getElementById('show-old-password-checkbox');

    if (showPasswordCheckbox.checked) {

passwordInput.type = 'text';

    }else{

        passwordInput.type= 'password';
    }


}
  </script>
</body>
</html>