<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>User Dashboard</title>
  <link href="../Stylesheet/style.css" rel="stylesheet">
  <link rel='shortcut icon' type="image/png" href="../Images/fullstack logo.png">
</head>
<body>
  <header class='item head'>

    <nav class="navBar">

      <div class="navbar-nav">
        <a class="navBar-item active" aria-current="page" href="/" id="'home-nav">Home</a>
        <a class="navBar-item" href="/logout">Log Out</a>
        <a class="navBar-item" href="/student-dashboard-setting">Settings</a>
        <a class="navBar-item" href="/code-editor">Code Editor</a>
      </div>

    </nav><!--end nav-->
  </header>

  <main class="container">


    <p>Your ID: <%= studentId %></p>

    <div class="item">

      <h1 style="color:springgreen;">Welcome, <%= firstName %>!</h1>

      </div>

      


       
        <a href="/api/scholarship-registration"><button class="enrollment">Apply for Scholarship</button>
         </a>

      

      <div class="item">
      
      <h2>Enrolled Courses:</h2>
       
      </div>

      <div class="item">

      <h2>
        <a href="/all-courses">View All Courses</a>
      </h2>

    </div>

  

  


  </main>

  <footer class="footer item">
    <a href='/'>Contact us</a>
    <br>
    
  </footer>
  <p id="copyright"></p>
  <script>
    const copyRightHolder = document.getElementById("copyright");
    const today = new Date();
    const thisYear = today.getFullYear();
    copyRightHolder.innerText = `Code Skill Africa \u00A9 ${thisYear}. All Rights Reserved.`;
    copyRightHolder.style.color = 'yellowGreen';

    
  </script>
</body>
</html>