<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Email Success</title>
    <link href= "Stylesheet/style.css" rel='stylesheet'>
    <link rel = 'icon' type="image/x-icon" href="Images/fullstack logo.png">
</head>
<body>
    

    <header class='item head' >

        
    <nav class="navBar">
        <div class="navbar-nav">
                <a class="navBar-item active" aria-current="page" href="/" id="'home-nav">Home</a>
                <a class="navBar-item" href="/Testimonials">Courses </a>
                <a class="navBar-item" href="./html/projects.html">About us </a>
                <a class="navBar-item" href="/Contact-Us">Contact us</a>
                <a class="navBar-item" href="./html/messages.html"></a>
            </div>
    </nav><!--end nav-->
    
</header>




    <main class="container">

        <div class="item">
        
       <p id ='email-success-message'> 

    Your message was successfully received! Look forward to hear from us soon.<br> <br>

       <%= first_name %>. <%= success_message %><br> <br>


        <a href='/Contact-Us'><button class="enrollment">Try again</button></a>
       </p> 


     

    </div>

    </main>


    

<footer class="footer item">

<a href ='/'>About Us</a> <br>
<a href = '/Our-Mission'>Our Mission</a> <br>
<a href ='/Contact-Us'>Contact us</a> <br>
<a href ='/'>Board of Directors</a>



    </footer>

    <p id="copyright"> </p>
     
    <script>


 const copyRightHolder = document.getElementById("copyright");
  const today = new Date();
  const thisYear = today.getFullYear();
  copyRightHolder.innerText = `Code Skill Academy \u00A9 ${thisYear} 
  Developed by Emmanuel Chigemezu`;
  copyRightHolder.style.color = 'yellowGreen';


  let slides = document.querySelectorAll('.slide');
let currentSlide = 0;

function slideImages() {
  slides[currentSlide].classList.remove('active');
  currentSlide = (currentSlide + 1) % slides.length;
  slides[currentSlide].classList.add('active');
}

setInterval(slideImages, 3000);

    </script>
</body>
</html>
