<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Front-End Web Development Course Video Addition</title>
    <link href="../Stylesheet/style.css" rel="stylesheet">
    <link rel = 'shortcut icon' type="image/png" href="Images/fullstack logo.png">
</head>
<body>


    <header class='item head' >
        
    <nav class="navBar">
        <div class="navbar-nav">
                <a class="navBar-item active" aria-current="page" href="/" id="'home-nav">Home</a>
                <a class="navBar-item" href="/api/admin-dashboard" id="'home-nav">Dashboard</a>
                
            </div>
    </nav><!--end nav-->
    
</header>

    
    <main class="container">

    <div class="item">
        

        <h2>Front-End Web Development Course Video Addition:</h1>


       <% if (locals.error) { %>
        

      <p style="color: red"><%= locals.error %>  <br>
</p>
    <% } %>

     <% if (locals.message) { %>


      <p style="color: springgreen"><%= locals.message %> <br>
    </p>
    <% } %>

        <form action="/api/front-end-web-development-course-video-addition" method = 'POST'>

            <fieldset>

                <legend>
                    Enter Front-End Web Development Video Details:
                </legend>

    

                
                <label for="videoName">Enter Video Name:</label> <br>

                <input type="text" name ='videoName' id="videoName" placeholder="Enter the video name.." autocomplete="off" class="log-in-input" required> <br>

                <label for="videoLink">Enter the video link:</label> <br> 

                <input type="text" name ='videoLink'  id='videoLink' placeholder="Enter the video link.." autocomplete="off" class="log-in-input" required> <br>

                
               <input type ="submit" value="Add Video" id = 'sign-up-button'>
               <br>

               

                
            </fieldset>

        </form>


    </div>

    <!--

    <p class="link-paragraph">
        Already have an account?  <a href="Log-In">Log in</a>
    </p>

    -->
    

                
                

    </main>
    

    



    <footer class="footer item">

<a href = '/Our-Mission'>Our Mission</a> <br>
<a href ='/Contac-Us'>Contact Us</a> <br>




    </footer>

    <p id="copyright"> </p>


    <script>


 const copyRightHolder = document.getElementById("copyright");
  const today = new Date();
  const thisYear = today.getFullYear();
  copyRightHolder.innerText = `Code Skill Africa \u00A9 ${thisYear}. All Rights Reserved.`;
  copyRightHolder.style.color = 'yellowGreen';

function togglePasswordVisibility() {

    const passwordInput = document.getElementById('password-input');
    const showPasswordCheckbox = document.getElementById('show-password-checkbox');

    if (showPasswordCheckbox.checked) {

passwordInput.type = 'text';

    }else{

        passwordInput.type= 'password';
    }


}




  function clearLoginForm() {
    const loginForm = document.querySelector('form');
    if (loginForm) {
      loginForm.reset();
      
      // Also clear any input fields manually (in case reset doesn't work)
      const inputs = loginForm.querySelectorAll('.log-in-input');
      inputs.forEach(input => {
        input.value = '';
      });
      
      // Clear any error messages if they exist
      const errorMessages = document.querySelectorAll('.error-message');
      errorMessages.forEach(error => {
        error.textContent = '';
      });
    }
  }

  // Clear form when page loads
  window.addEventListener('load', clearLoginForm);

  // Clear form on page show (handles browser back/forward)
  window.addEventListener('pageshow', (event) => {
    // Force clear even from cache
    clearLoginForm();
  });

  // Clear form when user leaves and comes back
  window.addEventListener('focus', clearLoginForm);

  // Prevent autocomplete from persisting data
  document.addEventListener('DOMContentLoaded', () => {
    const loginForm = document.querySelector('form');
    if (loginForm) {
      loginForm.setAttribute('autocomplete', 'off');
      
      const inputs = loginForm.querySelectorAll('input');
      inputs.forEach(input => {
        input.setAttribute('autocomplete', 'off');
      });
    }
  });



</script>
</body>
</html>