<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Account Creation Response</title>
  <link href="../Stylesheet/style.css" rel="stylesheet">
  <link rel='shortcut icon' type="image/png" href="../Images/fullstack logo.png">
</head>
<body>
  <header class='item head'>
    <nav class="navBar">
      <div class="navbar-nav">
        <a class="navBar-item" href="/" id="'home-nav">Home</a>
        <a class="navBar-item" href="/About-Us">About us </a>
        <a class="navBar-item" href="/api/send-email">Contact us</a>
        <a class="navBar-item" aria-current="page" href="/api/Sign-Up">Log In/Sign Up</a>
        
      </div>
    </nav><!--end nav-->
  </header>
  <main class="container">
    <div class="item">
      <% if (locals.message) { %>
        <p style="color: springgreen"><%= locals.message %></p> <br> <button class="sign-up-response"> <a href="/api/Log-In">Log In</a> </button>
      <% } else if (locals.error) { %>
        <p style="color: red"><%= locals.error %></p> <br> <button class="sign-up-response"> <a href="/api/Create-Account">Try Again</a> </button>
      <% } else { %>
        <p>Unknown error occurred</p>
      <% } %>

      <br>

     
    </div>
  </main>
  <footer class="footer item">
    
    <br>
    <a href='/Our-Mission'>Our Mission</a>
    <br>
    
  </footer>
  <p id="copyright"></p>
  <script>
    const copyRightHolder = document.getElementById("copyright");
    const today = new Date();
    const thisYear = today.getFullYear();
    copyRightHolder.innerText = `Code Skill Africa \u00A9 ${thisYear}. All Rights Reserved.`;
    copyRightHolder.style.color = 'yellowGreen';
  </script>
</body>
</html>