<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Send Message</title>
    <link href= "../Stylesheet/style.css" rel='stylesheet'>
    <link rel = 'icon' type="image/x-icon" href="Images/fullstack logo.png">
</head>
<body>
    

    <header class='item head' >

        
    <nav class="navBar">
        <div class="navbar-nav">
                <a  href="/" class="navBar-item">Home</a>
                <a class="navBar-item" href="/Our-Mission">Our Mission</a>
                <a class="navBar-item" href="/api/Create-Account">Log In/Sign Up</a>
                <a class="navBar-item active"  href="/api/send-email">Contact us</a>
            </div>
    </nav><!--end nav-->
    
</header>




    <main class="container">

        <div class="item">


<form action="/api/send-email" autocomplete="off" method='POST'> 



    <% if (locals.error) { %>
        

      <p style="color: red"><%= locals.error %>  <br>
</p>
    <% } %>

     <% if (locals.message) { %>


      <p style="color: springgreen"><%= locals.message %> <br>
    </p>
    <% } %>

    <h2>Message Us:</h2>
    <fieldset>

<legend>
Enter your details and message
</legend>


<label for ='name'> Enter your full name: </label> <br>

<input type ='text' id="name" name="name" autocomplete="off"  placeholder="Enter first and last name.." required> <br>


<label for ='email'> Enter your email address: </label> <br>

<input type ='email' id="email" name="email" autocomplete="off" placeholder="Enter your email here.." required> <br>

<label for ='subject'> Enter message subject: </label> <br>

<input type ='text' id="subject" name="subject" placeholder="Enter message subject.." autocomplete="off"> <br>

<label for ='message'> Enter your message: </label> <br>

<textarea name="message" id="message" placeholder="Enter your message here.." required></textarea> <br>

<input type="submit" value="Send message" class="enrollment">



    </fieldset>

</form>
        </div>

    </main>


    

<footer class="footer item">

<a href = '/Our-Mission'>Our Mission</a> <br>




    </footer>

    <p id="copyright"> </p>
     
    <script>

const userMessage = document.getElementById('message');


 const copyRightHolder = document.getElementById("copyright");
  const today = new Date();
  const thisYear = today.getFullYear();
  copyRightHolder.innerText = `Code Skill Africa \u00A9 ${thisYear}. All Rights Reserved`;
  copyRightHolder.style.color = 'yellowGreen';


  let slides = document.querySelectorAll('.slide');
let currentSlide = 0;

function slideImages() {
  slides[currentSlide].classList.remove('active');
  currentSlide = (currentSlide + 1) % slides.length;
  slides[currentSlide].classList.add('active');
}

setInterval(slideImages, 3000);


userMessage.addEventListener("input", () => {

    userMessage.style.height = "auto";

userMessage.style.height = userMessage.scrollHeight + "px";

    
});


function clearForm() {

    const loginForm = document.querySelector('form');

    if(locals.message) {

        
        loginForm.reset = true;
}

  


  if (locals.error) {

loginForm.reset = false;

  }
    
}

clearForm();

    </script>
</body>
</html>